name: "Terraform Apply"

on:
    pull_request:
        branches:
            - "main"
        types: [closed]
    workflow_dispatch:

permissions:
    id-token: write
    contents: read
    pull-requests: write
    issues: write

env:
    aqua_version: v2.28.0

jobs:
    changes:
        runs-on: ubuntu-latest
        outputs:
            workdirs: ${{ steps.set_workdirs.outputs.workdirs }}
        steps:
            - name: Checkout
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
              id: filter
              with:
                  filters: |
                      dev: environments/dev/**
                      stg: environments/stg/**
            - name: Setup working-directory
              id: set_workdirs
              run: |
                  echo "Run terraform apply in changed environment."
                  echo "workdirs=${{ toJson(steps.filter.outputs.changes) }}" >> "$GITHUB_OUTPUT"

    terraform-apply:
        needs: changes
        # only run when there are changed workdirs, the PR was merged, and the PR target branch is main
        if: ${{ needs.changes.outputs.workdirs != '[]' && github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main' }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                env: ${{ fromJSON(needs.changes.outputs.workdirs) }}
        steps:
            - name: Checkout
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            - name: Terraform Version
              shell: bash
              run: echo "TF_VERSION=$(cat environments/${{ matrix.env }}/.terraform-version)" >> $GITHUB_ENV
            - name: Install aqua
              uses: aquaproj/aqua-installer@v4.0.2
              with:
                  aqua_version: ${{ env.aqua_version }}
            - name: Install aqua packages (tfcmt)
              run: |
                  aqua --version
                  aqua install
                  echo "$HOME/.local/bin" >> $GITHUB_PATH
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: ${{ env.TF_VERSION }}
            - name: Terraform Init
              working-directory: environments/${{ matrix.env }}
              run: terraform init -input=false
            - name: Terraform Apply (tfcmt)
              working-directory: environments/${{ matrix.env }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  # Run terraform apply via tfcmt so the result is posted to the PR
                  tfcmt --var target:${{ matrix.env }} apply -patch -- terraform apply -input=false -auto-approve -no-color
